#dependencies
/node_modules

#secrets
.env
*.local

#personal ide settings
.vscode

#api
api/log
api/tmp

#ui
dist
dist-ssr

#operating system cruft
.DS_Store
Thumbs.db
.idea/misc.xml
.idea/modules.xml
.idea/spoonshare-app.iml
.idea/vcs.xml
